/* container for the content of each menu page */
.menu-page-container {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    border: thick solid white;
    border-left-width: 3vh;
    vertical-align: text-top;
}

.menu-button-container {
    max-width: 20%;
    text-align: right;
    vertical-align: top;
    padding: 3% 0 0 0;
}

.menu-table {
    position: absolute;
    margin: 2.5% 12% 2.5% 8%;
    width: 80%;
    height: 90vh;
    z-index: 3;
    border: none;
}

.menu-button {
    margin: 8px 0;
    font-size: 2rem;
    border: medium solid white;
    text-align: center;
    width: 100%;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.menu-button:hover {
    background-color: white;
    color: darkgray;

}

.background-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* from stackoverflow.com, solves issue where webpage had added blank sections above & below */
html, body {
    height: 100vh;
    width: 100vh;
    margin: 0;

}

table {
    border-collapse: collapse;
}

/* button to close menu */
.exit-menu {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    float: right;
    margin: 0.2rem 0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* button to open menu */
.menu-icon {
    max-width: 5%;
    position: absolute;
    z-index: 3;
    margin: 0.4rem 0.8rem;
}

/* for menu game page */
/* div that allows the menu buttons to be positioned */
.menu-game-buttons {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    height: 70vh;
    padding-top: 10%;
    /* fixes problem where it inherits white-space: nowrap and the buttons are positioned in a row rather than a column */
    white-space: initial;
}

.menu-game-button {
    margin: 1% 10% 15% 10% ;
    padding: 0.5% 1%;
    font-size: 3rem;
    border: medium solid white;
    border-radius: 0.8rem;
    text-align: center;
    background-color: white;
    color: rgb(114, 114, 114);
}

.menu-game-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/* for menu clues & inventory sections */
.menu-name {
color: white;
text-shadow: 0 0 0.1em black;
font-weight: bold;
margin: 1% 1rem 0 1rem;
}

.menu-description {
color: white;
text-shadow: 0 0 0.3em black;
margin: 0 1rem 1% 1rem;
text-wrap: auto;
}

.menu-line {
    border: thin solid white;
    width: 90%;
}

/* from stackoverflow.com, allows divs to be scrollable instead of spilling onto main page */
.menu-page-content {
    overflow-y: auto;
    word-break: keep-all;
    white-space: nowrap;
    max-height: 90vh;
}

/* from stackoverflow.com, hides the scrollbar */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* for menu inventory section */
.inventory-div {
    display: flex;   
    margin: 1rem;
}

.inventory-info-div {
    display: block;
    margin-top: 0;
}

.item-image {
    min-width: fit-content;
    height: 15vh;
    margin-right: 0;
}

/* for dialogue pop-up */
.dialogue-div {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dialogue-box {
    width: 95%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    margin-top: 74vh;
    margin-left: 2.5%;
}

.character-sprite {
    width: fit-content;
    height: 90vh;
    margin-top: 10vh;
    position: absolute;
    z-index: 1;
}

.dialogue-text {
    color: white;
    font-size: 2rem;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    width: 93%;
    display: inline-block;
}

.next-dialogue-button {
    position: absolute;
    background: none;
    color: white;
    border: none;
    /* margin-left: 97%; */
    font-size: 2.5rem;
    text-align: right;
    display: inline;
    margin-top: 0.5%;
    margin-left: 1%;
}

/* for buttons that allow user to progress */
.next-buttons {
        position: absolute;
    z-index: 1;
    width: 12%;
    height: 10vh;
    margin: 88vh 1% 2vh 87%;
}

.next-location-button {
    background-color: rgba(255, 255, 255, 50%);
    width: 100%;
    font-size: 1.3rem;
    height: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    text-shadow: 0 0 0.1rem rgb(2, 2, 2);
}

.next-location-button:hover {
    background-color: white;
    color: rgb(30, 30, 30);
    text-shadow: none;
}

/* for forms */
.form {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60%;
    border: thick solid white;
}

/* for target form */
.target-form {
    background-image:url(/static/images/backgrounds/phone-choice-background.png);
    width: 25%;
    margin-left: 35%;
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.target-form-button {
    margin-left: 35%;
    margin-top: 45.5%;
    font-size: 1.5rem;
    width: 30%;
    border-radius: 40px;
    background-color: rgba(152, 155, 159);
    color: rgba(60, 63, 67);
    border-bottom: 0.2rem solid rgba(94, 99, 104);
    border-right: 0.2rem solid rgba(94, 99, 104);
    border-left: 0.2rem solid rgba(189, 195, 204);
    border-top: 0.2rem solid rgba(189, 195, 204);
}

.target-form-label {
    display: block;
    font-size: 2rem;
    text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.5);
    margin-top: 29%;
    margin-left: 27%;
    color: white;
    font-family: monospace;
}

.target-form-input {
    margin-left: 27%;
    margin-top: 1%;
    height: 3rem;
    width: 43%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
}