<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- from photojournal tutorial on Teams -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Working title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/placeholder-icon.png') }}">
        <meta name="theme-color" content="#000000">
        <!-- from geeksforgeeks.org -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- button to open menu -->
        <image class="menu-icon" src="{{ url_for('static',filename='images/icons/menu.png') }}" onclick="openMenu()"></image>
        <image class="background-image" src="{{ url_for('static', filename='images/backgrounds/apartment-background.png') }}" usemap="#apartment-map"></image>
        <!-- menu -->
        <div id="menu-screen" style="display:none">
            <!-- helps with menu positioning -->
            <table class="menu-table">
                <tr class="menu-table-row">
                    <td class="menu-button-container">
                            <!-- 'onclick' done by referencing stackoverflow.com -->
                            <div><button id="button-game" class="menu-button" onclick="openGame()">Game</button></div>
                            <div><button id="button-clues" class="menu-button" onclick="openClues()">Clues</button></div>
                            <div><button id="button-inventory" class="menu-button" onclick="openInventory()">Inventory</button></div>
                    </td>
                    <td class="menu-page-container">
                        <!-- button to close menu -->
                        <a class="exit-menu" onclick="closeMenu()">X</a>
                        <div class="menu-page-content">
                            <div id="menu-game" style="display:block">
                                <div class="menu-game-buttons">
                                    <button  class="menu-game-button play-game-button" onclick="closeMenu()">Play / Continue</button>
                                    <button  class="menu-game-button restart-button" onclick="location.href='start'">Start from Beginning</button>
                                </div>
                            </div>
                            <div id="menu-clues" style="display:none">
                                <!-- shows for each clue currently found/'unlocked', from photojournal tutorial on Teams -->
                                {% for clue in clues %}
                                <!-- add code to check which clues are marked T in the database, only show those -->

                                    <h1 class="menu-name">{{clue.name}}</h1>
                                    <p class="menu-description">{{clue.description}}</p>
                                    <hr class="menu-line">

                                {% endfor %}
                            </div>
                            <div id="menu-inventory" style="display:none">
                                {% for item in items %}
                                    <div class="inventory-div">
                                        <!-- placeholder image -->
                                        <image class="item-image" src="{{ url_for('static', filename=item.image_path) }}"></image>
                                        <div class="inventory-info-div">
                                            <h1 class="menu-name">{{item.name}}</h1>
                                            <p class="menu-description">{{item.description}}</p>
                                        </div>
                                    </div>
                                    <hr class="menu-line">
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- dialogue box -->
        <div id="dialogue-div" class="dialogue-div" style="display:none">
            <image class="character-sprite" src="{{ url_for('static',filename='images/sprites/placeholder-for-testing.webp') }}"></image>
            <div class="dialogue-box">
                <div id="dialogue-text" class="dialogue-text">{{dialogueContent}}</div>
                <button class="next-dialogue-button" onclick="hideDialogue()">></button>
            </div>
        </div>
        <!-- buttons to go to next place -->
        <div class="next-buttons">
            <button id="hidden-button" class="next-location-button" onclick="showTargetForm()" style="display:none">Warn the target</button>
            <button class="next-location-button" onclick="location.href='alleyway'">End Investigation</button>
        </div>
        
        <div class="jinja-checks">
            <!-- shows the 'warn the target' button if one of the correlating clues has been found -->
            {% if showbutton == True %}
                <script>document.getElementById("hidden-button").style.display = "block";</script>
            {% endif %}

            <!-- chceks if dialogue should be showing and shows it -->
            {% if showDialogue == 'yes' %}
                <script>document.getElementById("dialogue-div").style.display = "block";</script>
            {% endif %}

            {% if safeCode == 'solved' %}
                <script>sendItemID(1)
                    function sendItemID(num) {
                        $.ajax({
                            url: '/processItem',
                            type: 'POST',
                            data: { 'data': num },
                        });
                    }</script>
            {% endif %}
        </div>

        <!-- form for safe puzzle -->
        <div class="form safe-form" id="safe-form" style="display:none">
            <form method="post">
                <label class="safe-form-label">Safe code: </label>
                <input class="safe-form-input" type="number" name="safe" required>
                <button class="safe-form-button" type="submit">Enter code</button>
            </form>
            <a class="exit-safe-form" onclick="hideSafeForm()">X</a>
        </div>

        <!-- form for target puzzle -->
        <div class="form target-form" id="target-form" style="display:none">
            <form method="post">
                <label class="target-form-label">Target:</label>
                <input class="target-form-input" type="text" name="target" required>
                <button class="target-form-button" type="submit">Warn target</button>
            </form>
            <a class="exit-target-form" onclick="hideTargetForm()">X</a>
        </div>
    

        <!-- referenced from stackoverflow.com -->
        <!-- clickable areas image map -->
        <map name="apartment-map">
            <area name="broken-window" shape="rect" coords="240, 147, 392, 316" onclick="sendClueID(2); location.href='apartment'">
            <area name="floor-scuffs" shape="rect" coords="364, 561, 659, 630" onclick="sendClueID(3); location.href='apartment'">
            <area name="bed-chemical" shape="rect" coords="631, 428, 695, 451" onclick="sendClueID(4); location.href='apartment'">
            <area name="blood-splatter" shape="rect" coords="814, 627, 1206, 722" onclick="sendClueID(5); location.href='apartment'">
            {% if openSafe == 'F' %}
                <area name="safe" shape="rect" coords="1336, 306, 1471, 380" onclick="sendClueID(10); location.href='apartment'">
            {% else %}
                <area name="safe" shape="rect" coords="1336, 306, 1471, 380" onclick="showSafeForm()">
            {% endif %}
            <area name="computer-code" shape="rect" coords="1057, 286, 1167, 357" onclick="sendClueID(6); location.href='apartment'">
            <area name="commissioner-code" shape="rect" coords="965, 220, 1042, 283" onclick="sendClueID(7); location.href='apartment'">
            <area name="calander" shape="rect" coords="715, 268, 830, 351" onclick="sendClueID(8); location.href='apartment'">
            <area name="window-scuffs1" shape="rect" coords="397, 243, 430, 283" onclick="sendClueID(9); location.href='apartment'">
            <area name="window-scuffs2" shape="rect" coords="393, 389, 426, 461" onclick="sendClueID(9); location.href='apartment'">
        </map>

    </body>
    <script>
        //opens and closes menu
        function openMenu() {
            document.getElementById("menu-screen").style.display = "block";
            openGame()
        }
        function closeMenu() {
            document.getElementById("menu-screen").style.display = "none";
        }

        //switches between menu pages
        function openGame() {
            document.getElementById("menu-game").style.display = "block";
            document.getElementById("menu-clues").style.display = "none";
            document.getElementById("menu-inventory").style.display = "none";
            ButtonHover('button-game','button-clues','button-inventory')
        }
        function openClues() {
            document.getElementById("menu-clues").style.display = "block";
            document.getElementById("menu-game").style.display = "none";
            document.getElementById("menu-inventory").style.display = "none";
            ButtonHover('button-clues','button-game','button-inventory')
        }
        function openInventory() {
            document.getElementById("menu-inventory").style.display = "block";
            document.getElementById("menu-clues").style.display = "none";
            document.getElementById("menu-game").style.display = "none";
            ButtonHover('button-inventory','button-clues','button-game')
        }
        function ButtonHover(id1, id2, id3){
            document.getElementById(id1).style.backgroundColor = "white";
            document.getElementById(id1).style.color = "darkgrey";
            document.getElementById(id2).style.backgroundColor = "rgba(255, 255, 255, 0.5)";
            document.getElementById(id2).style.color = "white";
            document.getElementById(id3).style.backgroundColor = "rgba(255, 255, 255, 0.5)";
            document.getElementById(id3).style.color = "white";
        }

        //hides the dialogue box 
        function hideDialogue() {
            document.getElementById("dialogue-div").style.display = "none";
            openGame()
        }

        //sends the clue ID to the python so it can be changed in the database
        function sendClueID(num) {
            $.ajax({
                url: '/processClue',
                type: 'POST',
                data: { 'data': num },
            });

        }

        //sends the item ID to python so it can be changed in the database
        function sendItemID(num) {
            $.ajax({
                url: '/processItem',
                type: 'POST',
                data: { 'data': num },
            });
        }
        

        function showSafeForm() {
            document.getElementById("safe-form").style.display = "block";
        }
        function hideSafeForm() {
            document.getElementById("safe-form").style.display = "none";
        }

        function showTargetForm() {
            document.getElementById("target-form").style.display = "block";
        }
        function hideTargetForm() {
            document.getElementById("target-form").style.display = "none";
        }
    </script>
</html>

