<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- from photojournal tutorial on Teams -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Working title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/placeholder-icon.png') }}">
        <meta name="theme-color" content="#000000">
    </head>
    <body>
        <!-- button to open menu -->
        <a href="{{ url_for('menu') }}"><image class="menu-icon" src="{{ url_for('static',filename='images/icons/menu.png') }}"></image></a>
        <image class="background-image" src="{{ url_for('static', filename='images/backgrounds/test-background.jpg') }}"></image>
        <div name="menu-screen">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>

