{% extends "game.html" %}

{% block content %}
    <div>
        <table class="menu-table">
            <tr class="menu-table-row">
                <td class="menu-button-container">
                        <div><button name="button-game" class="menu-button">Game</button></div>
                        <div><button name="button-clues" class="menu-button">Clues</button></div>
                        <div><button name="button-inventory" class="menu-button">Inventory</button></div>
                        <div><button name="button-dialogue" class="menu-button">Dialogue</button></div>
                </td>
                <td class="menu-page-container">
                    <a class="exit-menu" href="{{ url_for('home') }}">X</a>
                    <div>
                    
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}