<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- from photojournal tutorial on Teams -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Working title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/placeholder-icon.png') }}">
        <meta name="theme-color" content="#000000">
    </head>
    <body>
        <!-- button to open menu -->
        <image class="menu-icon" src="{{ url_for('static',filename='images/icons/menu.png') }}" onclick="openMenu()"></image>
        <image class="background-image" src="{{ url_for('static', filename='images/backgrounds/test-background.jpg') }}"></image>
        <!-- menu -->
        <div id="menu-screen" style="display:block">
            <!-- helps with menu positioning -->
            <table class="menu-table">
                <tr class="menu-table-row">
                    <td class="menu-button-container">
                            <!-- 'onclick' done by referencing stackoverflow.com -->
                            <div><button name="button-game" class="menu-button" onclick="openGame()">Game</button></div>
                            <div><button name="button-clues" class="menu-button" onclick="openClues()">Clues</button></div>
                            <div><button name="button-inventory" class="menu-button" onclick="openInventory()">Inventory</button></div>
                    </td>
                    <td class="menu-page-container">
                        <!-- button to close menu -->
                        <a class="exit-menu" onclick="closeMenu()">X</a>
                        <div class="menu-page-content">
                            <div id="menu-game" style="display:block">
                                <div class="menu-game-buttons">
                                    <!-- location.href from stackoverflow.com -->
                                    <button  class="menu-game-button play-game-button" onclick="location.href='tutorial'">Play</button>
                                    <!-- placeholder image, replace later -->
                                    <image class="" src="{{ url_for('static',filename='images/icons/placeholder-icon.png') }}"></image>
                                </div>
                            </div>
                            <div id="menu-clues" style="display:none">
                                <h1 class="menu-name">Name of Clue</h1>
                                <p class="menu-description">Details / description of clue</p>
                                <hr class="menu-line">
                            </div>
                            <div id="menu-inventory" style="display:none">
                                <div class="inventory-div">
                                    <!-- placeholder image -->
                                    <image class="item-image" src="{{ url_for('static', filename='images/icons/placeholder-icon.png') }}"></image>
                                    <div class="inventory-info-div">
                                        <h1 class="menu-name">Name of item</h1>
                                        <p class="menu-description">Details/description of clue</p>
                                    </div>
                                </div>
                                <hr class="menu-line">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


    </body>
    <script>
        //referenced stackoverflow.com for how to hide/show sections
        function openMenu() {
            document.getElementById("menu-screen").style.display = "block";
        }

        function closeMenu() {
            document.getElementById("menu-screen").style.display = "none";
        }

        function openGame() {
            document.getElementById("menu-game").style.display = "block";
            document.getElementById("menu-clues").style.display = "none";
            document.getElementById("menu-inventory").style.display = "none";
        }

        function openClues() {
            document.getElementById("menu-clues").style.display = "block";
            document.getElementById("menu-game").style.display = "none";
            document.getElementById("menu-inventory").style.display = "none";
        }

        function openInventory() {
            document.getElementById("menu-inventory").style.display = "block";
            document.getElementById("menu-clues").style.display = "none";
            document.getElementById("menu-game").style.display = "none";
        }
    </script>
</html>

