<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- from photojournal tutorial on Teams -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Working title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/placeholder-icon.png') }}">
        <meta name="theme-color" content="#000000">
    </head>
    <body>
        <p>Testinggg</p>
        <button class="start-game-button" onclick="location.href='apartment'">Start</button>
    </body>
</html>